parameters:
    level: 8
    treatPhpDocTypesAsCertain: false
    paths:
        - src
    ignoreErrors:
        -
            message: '#.+#'
            path: src/Redis/DsnFactory.php
        -
            message: "#^Cannot call method add\\(\\) on DateTime\\|false\\.$#"
            count: 1
            path: src/Redis/Utility/ExpiringSet.php
        -
            message: "#^Cannot call method multi\\(\\) on bool\\|Redis\\|RedisCluster\\|null\\.$#"
            count: 1
            path: src/Redis/Sequence.php
        -
            message: "#^Property Zenstruck\\\\Redis\\\\Sequence\\:\\:\\$redis \\(Redis\\|RedisCluster\\|Zenstruck\\\\Redis\\<Redis\\|RedisArray\\|RedisCluster\\>\\) does not accept bool\\|Redis\\|RedisCluster\\|null\\.$#"
            count: 1
            path: src/Redis/Sequence.php
