parameters:
    level: 8
    treatPhpDocTypesAsCertain: false
    paths:
        - src
    ignoreErrors:
        -
            message: '#.+#'
            path: src/Redis/DsnFactory.php
        -
            message: "#^Cannot access offset 1 on array\\<int, mixed\\>\\|Zenstruck\\\\Redis\\\\Sequence\\.$#"
            count: 1
            path: src/Redis/Utility/ExpiringSet.php
        -
            message: "#^Cannot call method add\\(\\) on DateTime\\|false\\.$#"
            count: 1
            path: src/Redis/Utility/ExpiringSet.php
