name: CI

on:
  push:
  pull_request:
  schedule:
    - cron: '0 0 1,16 * *'

env:
  REDIS_HOST1: localhost:16379
  REDIS_HOST2: 127.0.0.1:16379
  REDIS_CLUSTER_HOSTS: localhost:7000 localhost:7001 localhost:7002 localhost:7003 localhost:7004 localhost:7005
  REDIS_SENTINEL_HOST: 'localhost:26379'
  REDIS_SENTINEL_SERVICE: redis_sentinel

jobs:
  tests:
    name: PHP ${{ matrix.php }} - ${{ matrix.deps }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php: [8.0, 8.1]
        deps: [hightest]
        include:
          - php: 8.0
            deps: lowest
    services:
      redis:
        image: redis:6.0.0
        ports:
          - 16379:6379
      redis-cluster:
        image: grokzen/redis-cluster:5.0.4
        ports:
          - 7000:7000
          - 7001:7001
          - 7002:7002
          - 7003:7003
          - 7004:7004
          - 7005:7005
          - 7006:7006
        env:
          STANDALONE: 1
      redis-sentinel:
        image: bitnami/redis-sentinel:6.0
        ports:
          - 26379:26379
        env:
          REDIS_MASTER_HOST: redis
          REDIS_MASTER_SET: redis_sentinel
          REDIS_SENTINEL_QUORUM: 1
    steps:
      - uses: zenstruck/.github@php-test-symfony
        with:
          php: ${{ matrix.php }}
          deps: ${{ matrix.deps }}

  code-coverage:
    name: Code Coverage
    runs-on: ubuntu-latest
    services:
      redis:
        image: redis:6.0.0
        ports:
          - 16379:6379
      redis-cluster:
        image: grokzen/redis-cluster:5.0.4
        ports:
          - 7000:7000
          - 7001:7001
          - 7002:7002
          - 7003:7003
          - 7004:7004
          - 7005:7005
          - 7006:7006
        env:
          STANDALONE: 1
      redis-sentinel:
        image: bitnami/redis-sentinel:6.0
        ports:
          - 26379:26379
        env:
          REDIS_MASTER_HOST: redis
          REDIS_MASTER_SET: redis_sentinel
          REDIS_SENTINEL_QUORUM: 1
    steps:
      - uses: zenstruck/.github@php-coverage-codecov
        with:
          php: 8.1

  composer-validate:
    uses: zenstruck/.github/.github/workflows/php-composer-validate.yml@main

  cs-check:
    uses: zenstruck/.github/.github/workflows/php-cs-fixer.yml@main
    with:
      php: 8.0

  sca:
    uses: zenstruck/.github/.github/workflows/php-stan.yml@main
    with:
      php: 8.1
